:root {
    --off-white: #fafafa;
}

.nav {
    background-color: #ECECEC;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav .nav-content {
    max-width: 900px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-item {
    display: inline;
    margin: 1.5rem;
    color: #333;
}

.nav-item:hover {
    color: black;
    cursor: pointer;
}

.nav-item > .active {
    border-bottom: 1px solid #333;
}

#about {
    width: 100%;
    height: 100vh;
}

.left {
    float: left;
    height: 100%;
    width: 50%;
    background-color: #90CCF4;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding-top: 5%;
}

.right {
    float: right;
    height: 100%;
    width: 50%;
    background-color: #F78888;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4%;
}

.intro {
    width: 80%;
    text-align: left;
    margin-left: 10%;
}

.i_am {
    font-size: 300%;
}

.who_i_am {
    font-size: 200%;
}

#profilepic {
    height: 35%;
}

img {
    border-radius: 50%;
    padding: 10px;
}

#skills {
    padding: 30px 0 30px 0;
    text-align: center;
    color: #FFC6AC;
    overflow: hidden;
    background-color: #002A32;
}

.header {
    padding: 10px;
}

.skills_header, .exp_header {
    font-size: 250%;
    font-weight: bold;
}

.header_progress {
    height: 160%;
    font-size: 100%;
    width: 95%;
    border-radius: 20px;
}

.progress_bar {
    width: 95%;
    border-radius: 20px;
    height: 70%;
}

.header {
    font-size: 180%;
}

.col-md-3 {
    font-size: 150%;
}

#experience {
    /*
    height: 95vh;
    padding: 30px 0 30px 0;
    text-align: center;
    background-color: #41B3A3;
    color: white;
    */
    width: 100%;
    height: 100vh;
}

.left_exp {
    float: left;
    height: 100%;
    width: 50%;
    background-color: #F78888;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding-top: 5%;
}

.right_exp {
    float: right;
    height: 100%;
    width: 50%;
    background-color: #90CCF4;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding-top: 4%;
}

.work {
    font-size: 200%;
    margin-top: 5%;
}

.ink {
    font-size: 40%;
    font-weight: normal;
}

.description {
    font-size: 60%;
    font-weight: normal;
}

.project_links {
    color: white;
}

/*
.worked {
    font-size: 200%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    color: #00887A;
    border-radius: 15px;
    overflow: auto;
    height: 50vh;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
    vertical-align: middle;
}

.card_left {
    float: left;
    margin-left: 5%;
}

.card_right {
    float: right;
    margin-right: 5%;
}

.work_deets {
    text-align: left;
}
*/